.footer {
    display: flex;
    height: 200px;
    background-color: rgb(83, 83, 83);
    align-items: center;

    .used-lit {
        transition: color 0.2s ease;
        margin: auto;
        color: rgb(182, 182, 182);

        &:hover {
            color: azure;
        }
    }
}