$main_color: #5eff94;

.job__icon {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

    width: 90px;
    height: 50px;
    background-color: $main_color;
    position: relative;

    &:hover {
        transform: scale(0.95);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $main_color;
        top: 0;
        left: 0;
    }

    &::before {
        transform: rotate(60deg);
    }

    &::after {
        transform: rotate(-60deg);
    }

    &:target >  {
        position: absolute;
        top: 50px;
    }
}