{% extends 'base.html' %}
{% load static %}

{% block links %}
<link type="text/x-scss" rel="stylesheet" href="{% static "css/main.scss" %}">
{% endblock %}

{% block head %}
<title>Профессии будущего</title>
{% endblock head %}

{% block content %}
<div class="white_screen"></div>

<div class="about" id="about">
    <div class="about__container">
        <h1 id="title">Что такое профессии будущего?</h1>
        <p id="content">Это профессии на стыке нескольких дисциплин, которые появятся через 15–20 лет</p>
    </div>
</div>
<div class="jobs">
    <div class="jobs__container">
        <h1 class="jobs__title">Существует 6 разных профессий</h1>
        <ul class="jobs__list">
            {% for job in jobs %}
            <li class="list__item">
                <div class="item__job">
                    <a href="/{{ job.url }}" class="job__link">{{ job.name }}</a>
                    <p class="job__title">{{ job.short_desc }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}