$main_color: #5eff94;

.job {
    margin-top: 30px;
}

.job__container {
    display: flex;
    flex-direction: column;
}

.job__title {
    margin-bottom: 50px;
    text-align: center;

    font-size: 60px;
}

.job__description {
    font-size: 30px;
    margin-bottom: 50px;
}

.link_back {
    margin: auto;
}